/* * {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #fff;
  padding: 40px;
}

h1 {
  font-size: 38px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

input,
select {
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
}

#statusText {
  color: #666;
  margin-bottom: 30px;
}

#usersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

.card {
  background: #f7f7f7;
  border-radius: 18px;
  padding: 24px;
  text-align: center;
}

.card img {
  width: 180px;
  height: 180px;
  margin-bottom: 15px;
}

.card h3 {
  margin: 8px 0 4px;
}

.card p {
  margin: 0;
  color: #555;
} */


* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  padding: 30px;
}

h1 {
  font-size: 36px;
  margin-bottom: 16px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

input{
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
select {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#statusText {
  color: #555;
  margin-bottom: 24px;
}

#usersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 160px;
  height: 160px;
  margin-bottom: 12px;
}

.card h3 {
  font-size: 17px;
  margin-bottom: 4px;
}

.card p {
  font-size: 14px;
  color: #666;
  margin: 0;
}
